# #Functions

In [9]:
# custom functions using def 
def task1():
    print('Doing something:')
    return 'Bye','for','now'

In [2]:
task1()

Doing something:

In [10]:
print(task1())# it returns values in tuple

Doing something:
('Bye', 'for', 'now')

In [11]:
#positional parameter
def per(roll,name,m1,m2,m3):
    print('roll:',roll)
    print('name:',name)
    print('percentage:',100*(m1+m2+m3)/300)

In [13]:
per(1,'nagma',90,78,89)

roll: 1
name: nagma
percentage: 85.66666666666667

In [19]:
#default parameters
def perc(roll,name,m1=0,m2=0,m3=0):
    print('roll:',roll)
    print('name:',name)
    print('percentage:',100*(m1+m2+m3)/300)

In [16]:
perc(2,'vashnavi',67,89)

roll: 2
name: vashnavi
percentage: 52.0

In [18]:
def perc(roll=0,name,m1=0,m2=0,m3=0):
    print('roll:',roll)
    print('name:',name)
    print('percentage:',100*(m1+m2+m3)/300)

SyntaxError: non-default argument follows default argument (706764390.py, line 1)

In [24]:
#varargs parameter can be passed as variable no of arguements
def keepAdding(a,b,c=0,*ar):
    print(a,b,c)
    print(ar)
    print('no of vararg:',len(ar))

In [25]:
keepAdding(30,40)

30 40 0
()
no of vararg: 0

In [26]:
keepAdding(30,40,10,89,98,56,7)

30 40 10
(89, 98, 56, 7)
no of vararg: 4

In [35]:
#keyword arguements
def acceptRecords(*arg,**a):
    print(len(a))
    print(type(a))
    print(a.keys())
    print(a.items())

In [29]:
acceptRecords()

0
<class 'dict'>
dict_keys([])
dict_items([])

In [36]:
acceptRecords(2,3,5,'abc',a=67,k=90,j=89)

3
<class 'dict'>
dict_keys(['a', 'k', 'j'])
dict_items([('a', 67), ('k', 90), ('j', 89)])

In [31]:
t1=('val21',23)

In [32]:
dt=dict({t1})

In [33]:
print(dt)

{'val21': 23}

In [55]:
acceptRecords(**dt)

1
<class 'dict'>
dict_keys(['val21'])
dict_items([('val21', 23)])

In [54]:
def details(eid,ename,basic,da=4,hra=2):
    print('eid:',eid)
    print('ename:',ename)
    gs=basic+da+hra
    return print('gs:',gs)

In [53]:
details(1,'nagma',50000)

eid: 1
ename: nagma
gs 50006

In [54]:
def details(eid,ename,sal,*a,**b):
    print('eid:',eid)
    print('ename:',ename)
    print ('salary:',sal)
    print('skills:',a)
    print('training :',b)

In [55]:
details(1,'nagma',50000,'python','java','c++',python=30,java=90)

eid: 1
ename: nagma
salary: 50000
skills: ('python', 'java', 'c++')
training : {'python': 30, 'java': 90}

In [1]:
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact

In [2]:
fact(6)

720

In [ ]:
#positional arguements
#default arguements
#keyword arguement
#varargs-*
#keyward variable arguements-**

In [5]:
#positional arguement-complusory to pass all arguement
def emp(eid,ename,age):
    print('empid:',eid,' name:',ename,' age:',age)

In [4]:
emp(1,'nagma',22)

empid: 1  name: nagma  age: 22

In [6]:
#default arguement-
def emp(eid,ename,age=23):
     print('empid:',eid,' name:',ename,' age:',age)

In [7]:
emp(2,'vaishnavi')

empid: 2  name: vaishnavi  age: 23

In [9]:
#keyword arguement
emp(age=19,ename='nazar',eid=3)

empid: 3  name: nazar  age: 19

In [18]:
#vargs
def add(a,b,c=0):
    return(a+b+c)

In [19]:
add(10,20,6)

36

In [27]:
def add(*a):# *-is variable length of arguements
    r=0
    for i in a:
        r=r+i
    return r

In [28]:
add(1,2,3)

6

In [29]:
def add(*a):
    return (sum(a))

In [30]:
add(1,2,4,5,6,7)

25

In [31]:
#kwargs-**
def n1(**a):
    print(a)

In [32]:
n1(name='nagma',per=90)

{'name': 'nagma', 'per': 90}

In [40]:
n1(movie='shershah',actor='sidharth',rating=9.1)

{'movie': 'shershah', 'actor': 'sidharth', 'rating': 9.1}

In [65]:
def m(**d):
    for k in d:
        print(k,'--->',d[k])

In [68]:
m(hobby='read',favsport='football',ht=5.8)

hobby ---> read
favsport ---> football
ht ---> 5.8

In [76]:
#lambda arguements expresion-
x=lambda a,b,c:a+b+c

In [73]:
x(10,20)

30

In [77]:
x(10,20,30)

60

In [78]:
#squaring
sq=lambda a:a*a

In [79]:
sq(4)

16

In [80]:
#map filter,reduce function
l1=[1,2,3,4,5,6]

In [81]:
#map(function,iterable)
sq=lambda a:a*a

In [84]:
list(map(sq,l1))

[1, 4, 9, 16, 25, 36]

In [85]:
l1

[1, 2, 3, 4, 5, 6]

In [86]:
l2=['nagma','priya','adi']

In [90]:
list(map(str.upper,l2))#built in function

['NAGMA', 'PRIYA', 'ADI']

In [91]:
#map is applying the given function 
l2=list(map(lambda x:x*x,l1))

In [92]:
l2

[1, 4, 9, 16, 25, 36]

In [93]:
#filter()
l3=[12,38,90,67,45]

In [95]:
#filter(Function,iterable)
list(filter(lambda x:x%2!=0,l3))

[67, 45]

In [96]:
import functools

In [97]:
t=(1,2,3,4,5)

In [99]:
#functools.reduce(function,t)
functools.reduce(lambda a,b:a*b,t)

120

In [110]:
def fact(a,b):
    print('a',a,'b',b)
    return a*b

In [112]:
functools.reduce(fact,t)

a 1 b 2
a 2 b 3
a 6 b 4
a 24 b 5

120

In [ ]:
#lambda expression -is method w/o name

In [12]:
z=lambda x:print('hello',s1)

In [17]:
s1='nagma'

In [9]:
r=lambda s:s%2==0

In [11]:
r(4)

True

In [31]:
#lambda expression with method
def add(num1):
    return (lambda num2:num2+num1)
r=add(5)
print(r(4))

9

In [19]:
r(4)

True

In [32]:
exp=lambda x,y:x**y
print(exp(6,2))

36

In [33]:
def findPow(b):
    return lambda p:b**p

In [36]:
ans=findPow(3)

In [37]:
print(ans(4))

81

In [42]:
l=[12,21,45,67,49,68,90]
m=list(filter(lambda x:x%7==0,l))

In [43]:
m

[21, 49]

In [46]:
#take a list of string show all strings with minimum length 5
l1=['hello','hi','are','is']
m=list(filter(lambda x:len(x)<5,l1))

In [47]:
m

['hi', 'are', 'is']

In [59]:
t=('Hello','hi','Nagma','is')
m=list(filter(lambda x:x[:][0:1].isupper(),t))

In [60]:
m

['Hello', 'Nagma']

In [61]:
l2=[4,5,6,7,8]
print(list(map(lambda x:x*x,l2)))

[16, 25, 36, 49, 64]

In [62]:
l3=[1,2,3,4,5]
print(list(map(lambda x:x+2,l3)))

[3, 4, 5, 6, 7]

In [63]:
l4=['hi','hello','how']
print(list(map(lambda x:len(x),l4)))

[2, 5, 3]

In [64]:
print(list(map(lambda x:x.upper(),l4)))

['HI', 'HELLO', 'HOW']

In [81]:
#show the len of all string starting with capital leter
l5=['Hello','Nagma','hi','Hi']
m=list(filter(lambda x:x[:][0:1].isupper(),l5))
print(list(map(lambda x:len(x),m)))

[5, 5, 2]

In [82]:
#reduce
from functools import reduce

In [84]:
l6=[3,3,8,1]
total=reduce(lambda x,y:x+y,l6)

In [94]:
total

72

In [105]:
#show sum of squares of each num in this
total=reduce(lambda x,y:x+y,list(map(lambda x:x**2,l6)))

In [106]:
total

83

In [111]:
#practice works
#1.Add all evennumbers from given list
#2.concat all string from given list which contains letter 'o' 
s1=[1,2,3,4,5,6,78,89,90]
total=reduce(lambda x,y:x+y,list(map(lambda x:x%2==0,s1)))

In [109]:
total

5

In [110]:
#find max of l1 using reduce
reduce(lambda x,y: x if x>y else y,s1)

90

In [118]:
import operator as o

In [116]:
l1=[8,1,2,7,8,9]

In [119]:
total=reduce(o.add,l1)

In [120]:
total

35

In [123]:
import itertools as it

In [122]:
l1

[8, 1, 2, 7, 8, 9]

In [125]:
list(it.accumulate(l1,lambda x,y:x+y))

[8, 9, 11, 18, 26, 35]

In [ ]:
#check wheter it is palindrome

list comprehension

In [126]:
#alternative way to create another list

In [127]:
'''
syntax
new list=(expression(x) for x in givenlist if condition)'''

'\nsyntax\nnew list=(expression(x) for x in givenlist if condition)'

In [128]:
nl=list(i**2 for i in l1)

In [130]:
nl

[64, 1, 4, 49, 64, 81]

In [131]:
l2=['hello','hi','how']

In [132]:
nl=list(len(i) for i in l2)

In [133]:
nl

[5, 2, 3]

In [154]:
#show all numbers divisble by 5 from range 1,50
n1=list(i for i in range(1,50+1) if i%5==0)

In [155]:
n1

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
#show how many whitespaces are there in given string
#show sum of all digit inthe string eg,'24th jan 2022'

In [177]:
##dic comprehension
'''
syntax
new dict={k:v for (k,v) in iterable}'''

citylist=['mumbai','pune','pune','nasik']
d={k:citylist.count(k) for k in citylist}
c={k:v for (k,v) in zip(citylist,list(citylist.count(i) for i in citylist))}
print(c)

{'mumbai': 1, 'pune': 2, 'nasik': 1}

In [175]:
import math as m

In [178]:
import datetime as d

In [183]:
d.datetime.now()

datetime.datetime(2022, 1, 24, 18, 51, 29, 968792)