In [1]:
import pandas as pd

In [5]:
data=['pune','mumbai','satara','nasik','pune']
pd.Series(data)

0      pune
1    mumbai
2    satara
3     nasik
4      pune
dtype: object

In [7]:
d=[1,2,3,4,5,6]
pd.Series(d)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [10]:
d1=[1,2,'pune',3,'mumbai']
p1=pd.Series(d1)
p1[1]

2

In [11]:
p1

0         1
1         2
2      pune
3         3
4    mumbai
dtype: object

In [13]:
p1[1:4]

1       2
2    pune
3       3
dtype: object

In [14]:
p1[::-1]

4    mumbai
3         3
2      pune
1         2
0         1
dtype: object

In [18]:
p1[0]='bgm'

In [19]:
p1

0       bgm
1         2
2      pune
3         3
4    mumbai
dtype: object

In [26]:
new=pd.Series(['vashi'])
s1=p1.append(new)
print(p1)
print(s1)

0       bgm
1         2
2      pune
3         3
4    mumbai
dtype: object
0       bgm
1         2
2      pune
3         3
4    mumbai
0     vashi
dtype: object

C:\Users\NAGMA\AppData\Local\Temp\ipykernel_11536\2882322174.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1=p1.append(new)

In [27]:
new=pd.Series(['vashi'])
s1=p1.append(new,ignore_index=True)
print(p1)
print(s1)

0       bgm
1         2
2      pune
3         3
4    mumbai
dtype: object
0       bgm
1         2
2      pune
3         3
4    mumbai
5     vashi
dtype: object

C:\Users\NAGMA\AppData\Local\Temp\ipykernel_11536\553320676.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1=p1.append(new,ignore_index=True)

In [36]:
d1=(67,89,90,56,78)
idx=(101,102,103,104,105)
pd.Series(d1)
s1=pd.Series(d1)
s2=pd.Series(d1,idx)
print('s1:',s1)
print('s2:',s2)

s1: 0    67
1    89
2    90
3    56
4    78
dtype: int64
s2: 101    67
102    89
103    90
104    56
105    78
dtype: int64

In [37]:
d1={101:56,102:78,103:90,104:67}
pd.Series(d1)

101    56
102    78
103    90
104    67
dtype: int64

In [68]:
d1={101:['Ram',45,67],
   102:['Ravi',78,90],
   103:['Ruchi',45,89]}
s1=pd.Series(d1)
sum=0
for i in s1:
    #print(i)
    for m in range(1,len(i)):
        sum+=i[m]
    print(i[0],'has got ',sum)

Ram has got  112
Ravi has got  280
Ruchi has got  414