# #Tuple

In [1]:
#Tuple is immutable 
#creation of object-()
t1=1,2,3#packing-packed in one object

In [2]:
t1

(1, 2, 3)

In [3]:
type(t1)

tuple

In [4]:
t2=()#
print(type(t2))

<class 'tuple'>

In [5]:
t3=(4,5,6)
print(type(t3))

<class 'tuple'>

In [8]:
t4=(7,)
print(t4)
print(type(t4))

(7,)
<class 'tuple'>

In [10]:
x,y,z=t3#unpacking-receiving it in to individual object

In [11]:
print(x,y,z)

4 5 6

In [12]:
a=90
b=10
a,b=b,a

In [13]:
print(a,b)

10 90

In [14]:
s='hello'

In [15]:
t5=(s,)
t5

('hello',)

In [16]:
#constructor-one argument alloowed
t6=tuple(s)

In [17]:
t6

('h', 'e', 'l', 'l', 'o')

In [20]:
t6=tuple([1,2,3,4])

In [21]:
t6

(1, 2, 3, 4)

In [22]:
t6[3]#indexing

4

In [23]:
t6[-3]

2

In [24]:
6 in t6#membership operator

False

In [25]:
#nested tuple
t7=['hello','hi',(5,6,7),5,'how',8,9]
print (t7)
t8=tuple(t7)
print(t8)

['hello', 'hi', (5, 6, 7), 5, 'how', 8, 9]
('hello', 'hi', (5, 6, 7), 5, 'how', 8, 9)

In [27]:
sum=0
for i in t8:
    if(isinstance(i,int)or isinstance(i,float)):
        sum+=i
    elif(isinstance(i,tuple)):
        for j in i: 
            sum+=j
print(sum)

40

In [28]:
def operate(x,y):
    return x+y,x-y,x*y,x//y

In [29]:
t9=operate(16,3)
t9

(19, 13, 48, 5)

In [30]:
=t9t2+t3#concat

(4, 5, 6)

In [31]:
t2

()

In [32]:
t3

(4, 5, 6)

In [33]:
t4

(7,)

In [34]:
t3+t9

(4, 5, 6, 19, 13, 48, 5)

In [35]:
t9

(19, 13, 48, 5)

In [36]:
t9*2#replicator operator

(19, 13, 48, 5, 19, 13, 48, 5)

In [37]:
max(t9)

48

In [38]:
min(t9)

5

In [40]:
t5

('hello',)

In [41]:
t4

(7,)

In [42]:
t5==t4

False

In [43]:
t5 is t4

False

In [44]:
t4>t5

TypeError: '>' not supported between instances of 'int' and 'str'

In [45]:
#built in function
sorted(t9)

[5, 13, 19, 48]

In [46]:
sorted(t9,reverse=True)

[48, 19, 13, 5]

In [48]:
print(t9)
t9.index(5)

(19, 13, 48, 5)

3

In [49]:
t10=(65,2,7,7,2,9,65)

In [50]:
t11=sorted(t10)

In [51]:
print('t10:',t10)
print('t11:',t11)

t10: (65, 2, 7, 7, 2, 9, 65)
t11: [2, 2, 7, 7, 9, 65, 65]

In [52]:
t11.index(7)

2

In [62]:
t10.index(7,3)

3

In [37]:
t13=[3,4,5,6,7]
t14=['hi','how','are','you','nagma']
l3=[]

l1=tuple(l3)
print(l1)

(3, 4, 5, 6, 7, 'hi', 'how', 'are', 'you', 'nagma')

In [44]:
#alternate element from two list into new list 
t13=[3,4,5,6,7]
t14=['hi','how','are','you','nagma']
l3 = []
i = 0
while i <= len(t13)-1:
    l3.append(t13[i])
    l3.append(t14[i])
    i += 1
l4=tuple(l3)
print(l4)

(3, 'hi', 4, 'how', 5, 'are', 6, 'you', 7, 'nagma')