# #Tuple Assignment

In [10]:
#write a python program to find the repeated items of a tuple
t=(1,3,4,32,1,1,1) 
cnt=0
for i in t:
    if t.count(i) > 1:
        cnt+=1
print('element' ,i,' is repeated ',cnt,'times')

element 1  is repeated  4 times

In [21]:
#write a program to check whether an element exist within tuple
t1=(1,2,3,17,22,65)
c=int(input('enter the element to check:'))
for i in t1:
    if c in t1:
        res=True
    else:
        res=False
print(res)

enter the element to check:4
False

In [18]:
#write a program to convert list to tuple
lst=[1,3,'j','hello','90',[1,2,3]]
l3=tuple(lst)
print(l3)

(1, 3, 'j', 'hello', '90', [1, 2, 3])

In [26]:
#write a program to sort based on sum of input
t2=[(4,5),(2,3),(6,7),(2,8)]
print('og:',t2)
l=len(t2)
for i in range (l):
    for j in range(l-i-1):
        if (t2[j][0]+t2[j][1]) > (t2[j+1][0]+t2[j+1][1]):
            t2[j],t2[j+1] = t2[j+1],t2[j]
print('cg:',t2)

og: [(4, 5), (2, 3), (6, 7), (2, 8)]
cg: [(2, 3), (4, 5), (2, 8), (6, 7)]

In [30]:
#write a python program to reverse a tuple
t3=(23,45,12,2,4,78,9)
t4=t3[::-1]
print(t4)

(9, 78, 4, 2, 12, 45, 23)

In [34]:
#write a code to copy contents of  one tuple to other in all possible ways
t3=(23,45,12,2,4,78,9)
l4=tuple(t3)
print('1st way:',l4)
l5=t3[:]
print('2nd way',l5)

1st way: (23, 45, 12, 2, 4, 78, 9)
2nd way (23, 45, 12, 2, 4, 78, 9)

In [26]:
#if tuple1=(1,2,3,4,5,6,7,8,9) move contents to tuple except 4
tuple1=(1,2,3,4,5,6,7,8,9)
t2=()
t=list(tuple1)
t.remove(4)
t2=tuple(t)
print(t2)

(1, 2, 3, 5, 6, 7, 8, 9)

In [51]:
#Tuple contains two list list1 and list2 
#list1=[4,5,6,7] list2=[6,7,8,9]
#write a code to append 100 in list1 of tuple and remove 7 from list2 of tuple
list1=[4,5,6,7] 
list2=[6,7,8,9]
l3=[]
list1.append(100)
print(list1)
list2.remove(7)
print(list2)
l3.append(list1)
l3.append(list2)
t2=tuple(l3)
print(t2)

[4, 5, 6, 7, 100]
[6, 8, 9]
([4, 5, 6, 7, 100], [6, 8, 9])