In [2]:
import findspark
findspark.init()

In [3]:
import pyspark
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('ItemsApp').getOrCreate()

In [125]:
df=spark.read.csv('d:\\item_details.csv',header=True,inferSchema=True)

In [6]:
spark

In [7]:
df

DataFrame[itemid: string, itemname : string, itemcost: string, supplier: string, grade: string, qty: string]

In [56]:
df.show()

+------+---------+--------+--------+-----+----+
|itemid|itemname |itemcost|supplier|grade| qty|
+------+---------+--------+--------+-----+----+
|     8|    chalk|   65.76|       X|    A|   2|
|    12|   Pencil|    null|       Y|    B|   3|
|    13|      Pen|    43.0|       X|    A|   5|
|    15|   Duster|    54.0|       Y|    C|   1|
|    23|    Scale|    10.0|    null|    A|   2|
|    34|     null|    null|    null| null|null|
+------+---------+--------+--------+-----+----+

In [9]:
d1=spark.read.option('header','true').csv('d:\\item_details.csv')

In [11]:
d1.show()

+------+---------+--------+--------+-----+----+
|itemid|itemname |itemcost|supplier|grade| qty|
+------+---------+--------+--------+-----+----+
|     8|    chalk|   65.76|       X|    A|   2|
|    12|   Pencil|    null|       Y|    B|   3|
|    13|      Pen|      43|       X|    A|   5|
|    15|   Duster|      54|       Y|    C|   1|
|    23|    Scale|      10|    null|    A|   2|
|    34|     null|      60|    null| null|null|
+------+---------+--------+--------+-----+----+

In [12]:
d1.columns

['itemid', 'itemname ', 'itemcost', 'supplier', 'grade', 'qty']

In [15]:
d1.head(2)

[Row(itemid='8', itemname ='chalk', itemcost='65.76', supplier='X', grade='A', qty='2'),
 Row(itemid='12', itemname ='Pencil', itemcost=None, supplier='Y', grade='B', qty='3')]

In [17]:
df.select('itemid').show()

+------+
|itemid|
+------+
|     8|
|    12|
|    13|
|    15|
|    23|
|    34|
+------+

In [20]:
df.select('itemid','itemcost','qty').show()

+------+--------+----+
|itemid|itemcost| qty|
+------+--------+----+
|     8|   65.76|   2|
|    12|    null|   3|
|    13|      43|   5|
|    15|      54|   1|
|    23|      10|   2|
|    34|      60|null|
+------+--------+----+

In [29]:
df.dtypes

[('itemid', 'int'),
 ('itemname ', 'string'),
 ('itemcost', 'double'),
 ('supplier', 'string'),
 ('grade', 'string'),
 ('qty', 'int')]

In [24]:
df

DataFrame[itemid: string, itemname : string, itemcost: string, supplier: string, grade: string, qty: string]

In [30]:
df.printSchema()

root
 |-- itemid: integer (nullable = true)
 |-- itemname : string (nullable = true)
 |-- itemcost: double (nullable = true)
 |-- supplier: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- qty: integer (nullable = true)

In [57]:
#creating a new column
d2=df.withColumn('Bill',df['itemcost']*df['qty'])

In [32]:
d2.show()

+------+---------+--------+--------+-----+----+------+
|itemid|itemname |itemcost|supplier|grade| qty|  Bill|
+------+---------+--------+--------+-----+----+------+
|     8|    chalk|   65.76|       X|    A|   2|131.52|
|    12|   Pencil|    null|       Y|    B|   3|  null|
|    13|      Pen|    43.0|       X|    A|   5| 215.0|
|    15|   Duster|    54.0|       Y|    C|   1|  54.0|
|    23|    Scale|    10.0|    null|    A|   2|  20.0|
|    34|     null|    60.0|    null| null|null|  null|
+------+---------+--------+--------+-----+----+------+

In [58]:
#rename column name
df.withColumnRenamed('qty','Quantity').show()

+------+---------+--------+--------+-----+--------+
|itemid|itemname |itemcost|supplier|grade|Quantity|
+------+---------+--------+--------+-----+--------+
|     8|    chalk|   65.76|       X|    A|       2|
|    12|   Pencil|    null|       Y|    B|       3|
|    13|      Pen|    43.0|       X|    A|       5|
|    15|   Duster|    54.0|       Y|    C|       1|
|    23|    Scale|    10.0|    null|    A|       2|
|    34|     null|    null|    null| null|    null|
+------+---------+--------+--------+-----+--------+

In [59]:
d2.count()

6

In [60]:
#column drop
d2.drop('Bill').show()

+------+---------+--------+--------+-----+----+
|itemid|itemname |itemcost|supplier|grade| qty|
+------+---------+--------+--------+-----+----+
|     8|    chalk|   65.76|       X|    A|   2|
|    12|   Pencil|    null|       Y|    B|   3|
|    13|      Pen|    43.0|       X|    A|   5|
|    15|   Duster|    54.0|       Y|    C|   1|
|    23|    Scale|    10.0|    null|    A|   2|
|    34|     null|    null|    null| null|null|
+------+---------+--------+--------+-----+----+

In [42]:
d2.na.drop(how='any').show()

+------+---------+--------+--------+-----+---+------+
|itemid|itemname |itemcost|supplier|grade|qty|  Bill|
+------+---------+--------+--------+-----+---+------+
|     8|    chalk|   65.76|       X|    A|  2|131.52|
|    13|      Pen|    43.0|       X|    A|  5| 215.0|
|    15|   Duster|    54.0|       Y|    C|  1|  54.0|
+------+---------+--------+--------+-----+---+------+

In [44]:
df.show()

+------+---------+--------+--------+-----+----+
|itemid|itemname |itemcost|supplier|grade| qty|
+------+---------+--------+--------+-----+----+
|     8|    chalk|   65.76|       X|    A|   2|
|    12|   Pencil|    null|       Y|    B|   3|
|    13|      Pen|    43.0|       X|    A|   5|
|    15|   Duster|    54.0|       Y|    C|   1|
|    23|    Scale|    10.0|    null|    A|   2|
|    34|     null|    60.0|    null| null|null|
+------+---------+--------+--------+-----+----+

In [53]:
d4=df.na.fill(99999)

In [54]:
d4.show()

+------+---------+--------+--------+-----+-----+
|itemid|itemname |itemcost|supplier|grade|  qty|
+------+---------+--------+--------+-----+-----+
|     8|    chalk|   65.76|       X|    A|    2|
|    12|   Pencil| 99999.0|       Y|    B|    3|
|    13|      Pen|    43.0|       X|    A|    5|
|    15|   Duster|    54.0|       Y|    C|    1|
|    23|    Scale|    10.0|    null|    A|    2|
|    34|     null|    60.0|    null| null|99999|
+------+---------+--------+--------+-----+-----+

In [61]:
df.show()

+------+---------+--------+--------+-----+----+
|itemid|itemname |itemcost|supplier|grade| qty|
+------+---------+--------+--------+-----+----+
|     8|    chalk|   65.76|       X|    A|   2|
|    12|   Pencil|    null|       Y|    B|   3|
|    13|      Pen|    43.0|       X|    A|   5|
|    15|   Duster|    54.0|       Y|    C|   1|
|    23|    Scale|    10.0|    null|    A|   2|
|    34|     null|    null|    null| null|null|
+------+---------+--------+--------+-----+----+

In [63]:
d2.show()

+------+---------+--------+--------+-----+----+------+
|itemid|itemname |itemcost|supplier|grade| qty|  Bill|
+------+---------+--------+--------+-----+----+------+
|     8|    chalk|   65.76|       X|    A|   2|131.52|
|    12|   Pencil|    null|       Y|    B|   3|  null|
|    13|      Pen|    43.0|       X|    A|   5| 215.0|
|    15|   Duster|    54.0|       Y|    C|   1|  54.0|
|    23|    Scale|    10.0|    null|    A|   2|  20.0|
|    34|     null|    null|    null| null|null|  null|
+------+---------+--------+--------+-----+----+------+

In [69]:
d2.na.drop(how='any',thresh=2).show()

+------+---------+--------+--------+-----+---+------+
|itemid|itemname |itemcost|supplier|grade|qty|  Bill|
+------+---------+--------+--------+-----+---+------+
|     8|    chalk|   65.76|       X|    A|  2|131.52|
|    12|   Pencil|    null|       Y|    B|  3|  null|
|    13|      Pen|    43.0|       X|    A|  5| 215.0|
|    15|   Duster|    54.0|       Y|    C|  1|  54.0|
|    23|    Scale|    10.0|    null|    A|  2|  20.0|
+------+---------+--------+--------+-----+---+------+

In [70]:
d2.na.drop(subset=['itemid']).show()

+------+---------+--------+--------+-----+----+------+
|itemid|itemname |itemcost|supplier|grade| qty|  Bill|
+------+---------+--------+--------+-----+----+------+
|     8|    chalk|   65.76|       X|    A|   2|131.52|
|    12|   Pencil|    null|       Y|    B|   3|  null|
|    13|      Pen|    43.0|       X|    A|   5| 215.0|
|    15|   Duster|    54.0|       Y|    C|   1|  54.0|
|    23|    Scale|    10.0|    null|    A|   2|  20.0|
|    34|     null|    null|    null| null|null|  null|
+------+---------+--------+--------+-----+----+------+

In [71]:
d2.na.drop(subset=['supplier']).show()

+------+---------+--------+--------+-----+---+------+
|itemid|itemname |itemcost|supplier|grade|qty|  Bill|
+------+---------+--------+--------+-----+---+------+
|     8|    chalk|   65.76|       X|    A|  2|131.52|
|    12|   Pencil|    null|       Y|    B|  3|  null|
|    13|      Pen|    43.0|       X|    A|  5| 215.0|
|    15|   Duster|    54.0|       Y|    C|  1|  54.0|
+------+---------+--------+--------+-----+---+------+

In [72]:
d2.na.fill(0,['itemcost']).show()

+------+---------+--------+--------+-----+----+------+
|itemid|itemname |itemcost|supplier|grade| qty|  Bill|
+------+---------+--------+--------+-----+----+------+
|     8|    chalk|   65.76|       X|    A|   2|131.52|
|    12|   Pencil|     0.0|       Y|    B|   3|  null|
|    13|      Pen|    43.0|       X|    A|   5| 215.0|
|    15|   Duster|    54.0|       Y|    C|   1|  54.0|
|    23|    Scale|    10.0|    null|    A|   2|  20.0|
|    34|     null|     0.0|    null| null|null|  null|
+------+---------+--------+--------+-----+----+------+

In [75]:
d2.na.fill(0,['itemcost','qty','Bill','supplier']).show()

+------+---------+--------+--------+-----+---+------+
|itemid|itemname |itemcost|supplier|grade|qty|  Bill|
+------+---------+--------+--------+-----+---+------+
|     8|    chalk|   65.76|       X|    A|  2|131.52|
|    12|   Pencil|     0.0|       Y|    B|  3|   0.0|
|    13|      Pen|    43.0|       X|    A|  5| 215.0|
|    15|   Duster|    54.0|       Y|    C|  1|  54.0|
|    23|    Scale|    10.0|    null|    A|  2|  20.0|
|    34|     null|     0.0|    null| null|  0|   0.0|
+------+---------+--------+--------+-----+---+------+

In [76]:
d=spark.read.csv('d:\\employees.csv',header=True,inferSchema=True)

In [78]:
d.show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|   null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [79]:
d.columns

['First Name',
 'Gender',
 'Start Date',
 'Last Login Time',
 'Salary',
 'Bonus %',
 'Senior Management',
 'Team']

In [81]:
d.dtypes

[('First Name', 'string'),
 ('Gender', 'string'),
 ('Start Date', 'string'),
 ('Last Login Time', 'string'),
 ('Salary', 'int'),
 ('Bonus %', 'double'),
 ('Senior Management', 'boolean'),
 ('Team', 'string')]

In [82]:
d.printSchema()

root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Last Login Time: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Bonus %: double (nullable = true)
 |-- Senior Management: boolean (nullable = true)
 |-- Team: string (nullable = true)

In [83]:
ds=d.withColumnRenamed( 'Bonus %','Bonus')

In [84]:
ds.show()

+----------+------+----------+---------------+------+------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary| Bonus|Senior Management|                Team|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308| 6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|  4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|  null|11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|  null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null| 1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163|10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476|10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|  null|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|  null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852| 7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241|15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508|12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807|17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831| 5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426|14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414| 1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370| 7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737| 6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940|19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014| 1.894|            false|             Product|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
only showing top 20 rows

In [85]:
ds.drop('Last Login Time').show()

+----------+------+----------+------+------+-----------------+--------------------+
|First Name|Gender|Start Date|Salary| Bonus|Senior Management|                Team|
+----------+------+----------+------+------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993| 97308| 6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996| 61933|  4.17|             true|                null|
|     Maria|Female| 4/23/1993|  null|11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|138705|  null|             true|             Finance|
|     Larry|  Male| 1/24/1998|  null| 1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|115163|10.125|            false|               Legal|
|      Ruby|Female|      null| 65476|10.012|             true|             Product|
|      null|Female| 7/20/2015|  null|  null|             null|             Finance|
|    Angela|Female|      null| 95570|  null|             true|         Engineering|
|   Frances|Female|      null|139852| 7.524|             true|Business Development|
|    Louise|Female|08-12-1980| 63241|15.132|             true|                null|
|     Julie|Female|10/26/1997|102508|12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|112807|17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|109831| 5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999| 41426|14.543|             true|             Finance|
|   Lillian|Female|06-05-2016| 59414| 1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010| 90370| 7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|111737| 6.414|            false|             Product|
|     Diana|Female|10/23/1981|132940|19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010| 81014| 1.894|            false|             Product|
+----------+------+----------+------+------+-----------------+--------------------+
only showing top 20 rows

In [86]:
ds.na.drop(how='any').show()

+----------+------+----------+---------------+------+------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary| Bonus|Senior Management|                Team|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308| 6.945|             true|           Marketing|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163|10.125|            false|               Legal|
|     Julie|Female|10/26/1997|        3:19 PM|102508|12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807|17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831| 5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426|14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414| 1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370| 7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737| 6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940|19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014| 1.894|            false|             Product|
|   Matthew|  Male|09-05-1995|        2:12 AM|100612|13.645|            false|           Marketing|
|      John|  Male|07-01-1992|       10:08 PM| 97950|13.873|            false|     Client Services|
|     Craig|  Male| 2/27/2000|        7:45 AM| 37598| 7.757|             true|           Marketing|
|     Terry|  Male|11/27/1981|        6:30 PM|124008|13.464|             true|     Client Services|
|  Benjamin|  Male| 1/26/2005|       10:06 PM| 79529| 7.008|             true|               Legal|
| Christina|Female|08-06-2002|        1:19 PM|118780| 9.096|             true|         Engineering|
|      Jean|Female|12/18/1993|        9:07 AM|119082| 16.18|            false|Business Development|
|     Jerry|  Male|01-10-2004|       12:56 PM| 95734|19.096|            false|     Client Services|
|   Theresa|Female|10-10-2006|        1:12 AM| 85182|16.675|            false|               Sales|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
only showing top 20 rows

In [87]:
ds.na.drop(how='any',thresh=3).show()

+----------+------+----------+---------------+------+------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary| Bonus|Senior Management|                Team|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308| 6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|  4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|  null|11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|  null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null| 1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163|10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476|10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|  null|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|  null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852| 7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241|15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508|12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807|17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831| 5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426|14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414| 1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370| 7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737| 6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940|19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014| 1.894|            false|             Product|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
only showing top 20 rows

In [89]:
ds.na.drop(subset=['Gender']).show()

+----------+------+----------+---------------+------+------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary| Bonus|Senior Management|                Team|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308| 6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|  4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|  null|11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|  null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null| 1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163|10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476|10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|  null|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|  null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852| 7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241|15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508|12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807|17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831| 5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426|14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414| 1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370| 7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737| 6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940|19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014| 1.894|            false|             Product|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
only showing top 20 rows

In [91]:
ds.na.fill('unknown').show()

+----------+------+----------+---------------+------+------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary| Bonus|Senior Management|                Team|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308| 6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|  4.17|             true|             unknown|
|     Maria|Female| 4/23/1993|       11:17 AM|  null|11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|  null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null| 1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163|10.125|            false|               Legal|
|      Ruby|Female|   unknown|        unknown| 65476|10.012|             true|             Product|
|   unknown|Female| 7/20/2015|       10:43 AM|  null|  null|             null|             Finance|
|    Angela|Female|   unknown|        6:29 AM| 95570|  null|             true|         Engineering|
|   Frances|Female|   unknown|        6:51 AM|139852| 7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241|15.132|             true|             unknown|
|     Julie|Female|10/26/1997|        3:19 PM|102508|12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807|17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831| 5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426|14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414| 1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370| 7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737| 6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940|19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014| 1.894|            false|             Product|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
only showing top 20 rows

In [92]:
ds.na.fill(0,['Bonus','Salary']).show()

+----------+------+----------+---------------+------+------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary| Bonus|Senior Management|                Team|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308| 6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|  4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|     0|11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|   0.0|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|     0| 1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163|10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476|10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|     0|   0.0|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|   0.0|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852| 7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241|15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508|12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807|17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831| 5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426|14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414| 1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370| 7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737| 6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940|19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014| 1.894|            false|             Product|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
only showing top 20 rows

In [94]:
ds.na.fill('unknown',['Gender','Start Date','Last Login Time']).show()

+----------+------+----------+---------------+------+------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary| Bonus|Senior Management|                Team|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308| 6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|  4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|  null|11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|  null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null| 1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163|10.125|            false|               Legal|
|      Ruby|Female|   unknown|        unknown| 65476|10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|  null|             null|             Finance|
|    Angela|Female|   unknown|        6:29 AM| 95570|  null|             true|         Engineering|
|   Frances|Female|   unknown|        6:51 AM|139852| 7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241|15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508|12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807|17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831| 5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426|14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414| 1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370| 7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737| 6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940|19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014| 1.894|            false|             Product|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
only showing top 20 rows

In [96]:
ds.na.drop(subset=['Gender']).show()

+----------+------+----------+---------------+------+------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary| Bonus|Senior Management|                Team|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308| 6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|  4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|  null|11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|  null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null| 1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163|10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476|10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|  null|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|  null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852| 7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241|15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508|12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807|17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831| 5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426|14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414| 1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370| 7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737| 6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940|19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014| 1.894|            false|             Product|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
only showing top 20 rows

In [98]:
ds.describe().show()

+-------+----------+------+----------+---------------+------------------+-----------------+--------------------+
|summary|First Name|Gender|Start Date|Last Login Time|            Salary|            Bonus|                Team|
+-------+----------+------+----------+---------------+------------------+-----------------+--------------------+
|  count|       933|   855|       997|            999|               997|              997|                 957|
|   mean|      null|  null|      null|           null| 90656.65095285857|10.19869007021063|                null|
| stddev|      null|  null|      null|           null|32916.794268247395|5.530276746856254|                null|
|    min|     Aaron|Female|01-01-2014|       10:00 AM|             35013|            1.015|Business Development|
|    max|    Willie|  Male| 9/30/2007|        9:59 AM|            149908|           19.944|               Sales|
+-------+----------+------+----------+---------------+------------------+-----------------+--------------------+

In [108]:
from pyspark.sql import functions as f

In [146]:
s1=ds.agg(f.mean('Salary')).show()

+-----------------+
|      avg(Salary)|
+-----------------+
|90656.65095285857|
+-----------------+

In [147]:
ds.withColumn(.cast(int))

AttributeError: 'NoneType' object has no attribute 'cast'

In [116]:
ds.printSchema()

root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Last Login Time: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Bonus: double (nullable = true)
 |-- Senior Management: boolean (nullable = true)
 |-- Team: string (nullable = true)

In [152]:
from pyspark.ml.feature import Imputer 
imp=Imputer(inputCols=['Salary'],outputCols=['{}_Imputed'.format(c) for c in ['Salary']]).setStrategy('mean')

In [153]:
imp.fit(ds).transform(ds).show()

+----------+------+----------+---------------+------+------+-----------------+--------------------+--------------+
|First Name|Gender|Start Date|Last Login Time|Salary| Bonus|Senior Management|                Team|Salary_Imputed|
+----------+------+----------+---------------+------+------+-----------------+--------------------+--------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308| 6.945|             true|           Marketing|         97308|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|  4.17|             true|                null|         61933|
|     Maria|Female| 4/23/1993|       11:17 AM|  null|11.858|            false|             Finance|         90656|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|  null|             true|             Finance|        138705|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null| 1.389|             true|     Client Services|         90656|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163|10.125|            false|               Legal|        115163|
|      Ruby|Female|      null|           null| 65476|10.012|             true|             Product|         65476|
|      null|Female| 7/20/2015|       10:43 AM|  null|  null|             null|             Finance|         90656|
|    Angela|Female|      null|        6:29 AM| 95570|  null|             true|         Engineering|         95570|
|   Frances|Female|      null|        6:51 AM|139852| 7.524|             true|Business Development|        139852|
|    Louise|Female|08-12-1980|        9:01 AM| 63241|15.132|             true|                null|         63241|
|     Julie|Female|10/26/1997|        3:19 PM|102508|12.637|             true|               Legal|        102508|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807|17.492|             true|     Human Resources|        112807|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831| 5.831|            false|               Sales|        109831|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426|14.543|             true|             Finance|         41426|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414| 1.256|            false|             Product|         59414|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370| 7.369|            false|     Human Resources|         90370|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737| 6.414|            false|             Product|        111737|
|     Diana|Female|10/23/1981|       10:27 AM|132940|19.082|            false|     Client Services|        132940|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014| 1.894|            false|             Product|         81014|
+----------+------+----------+---------------+------+------+-----------------+--------------------+--------------+
only showing top 20 rows

In [156]:
imp1=Imputer(inputCols=['Gender'],outputCols=['{}_Imputed'.format(c) for c in ['Gender']]).setStrategy('mode')

In [157]:
imp1.fit(ds).transform(ds).show()

IllegalArgumentException: requirement failed: Column Gender must be of type numeric but was actually of type string.

In [158]:
ds.filter('Salary>=50000').show()

+----------+------+----------+---------------+------+------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary| Bonus|Senior Management|                Team|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308| 6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|  4.17|             true|                null|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|  null|             true|             Finance|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163|10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476|10.012|             true|             Product|
|    Angela|Female|      null|        6:29 AM| 95570|  null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852| 7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241|15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508|12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807|17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831| 5.831|            false|               Sales|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414| 1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370| 7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737| 6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940|19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014| 1.894|            false|             Product|
|      Lois|  null| 4/22/1995|        7:18 PM| 64714| 4.934|             true|               Legal|
|   Matthew|  Male|09-05-1995|        2:12 AM|100612|13.645|            false|           Marketing|
|    Joshua|  null|03-08-2012|        1:58 AM| 90816|18.816|             true|     Client Services|
|      null|  Male| 6/14/2012|        4:19 PM|125792| 5.042|             null|                null|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
only showing top 20 rows

In [161]:
ds.filter(~(ds['Salary']>=50000)).show()

+-----------+------+----------+---------------+------+------+-----------------+--------------------+
| First Name|Gender|Start Date|Last Login Time|Salary| Bonus|Senior Management|                Team|
+-----------+------+----------+---------------+------+------+-----------------+--------------------+
|   Kimberly|Female| 1/14/1999|        7:13 AM| 41426|14.543|             true|             Finance|
|       null|  Male|10-08-2012|        1:12 AM| 37076|18.576|             null|     Client Services|
|      Craig|  Male| 2/27/2000|        7:45 AM| 37598| 7.757|             true|           Marketing|
|  Stephanie|Female| 9/13/1986|        1:52 AM| 36844| 5.574|             true|Business Development|
|       null|  null|12/17/2011|        8:29 AM| 41126|14.009|             null|               Sales|
|       Todd|  Male| 2/18/1990|        2:41 AM| 49339| 1.695|             true|     Human Resources|
|       Alan|  null|03-03-2014|        1:28 PM| 40341|17.578|             true|             Finance|
|      Paula|  null|11/23/2005|        2:01 PM| 48866| 4.271|            false|        Distribution|
|    Matthew|  Male|01-02-2013|       10:33 PM| 35203| 18.04|            false|     Human Resources|
|Christopher|  Male| 3/30/2008|       10:52 AM| 47369|14.822|            false|               Legal|
|     Steven|  Male| 3/30/1980|        9:20 PM| 35095| 8.379|             true|     Client Services|
|    Heather|Female|07-11-1998|        2:17 PM| 43026|14.166|            false|     Client Services|
|    Melissa|Female| 6/21/2005|        6:33 AM| 48109|14.995|            false|             Finance|
|       Paul|  Male|08-04-1993|        7:25 PM| 42146| 3.046|            false|               Legal|
|Christopher|  Male| 4/22/2000|       10:15 AM| 37919|11.449|            false|                null|
|     Bonnie|Female|12/17/1999|        3:12 PM| 42153| 8.454|             true|Business Development|
|       Paul|  Male|06-03-2008|        3:05 PM| 41054|12.299|            false|           Marketing|
|   Patricia|Female|09-01-2003|        6:46 AM| 49368|14.226|            false|     Human Resources|
|    Shirley|Female|05-01-1984|        1:15 PM| 41334| 6.219|             true|     Human Resources|
|      Henry|  Male| 4/24/1995|        4:18 AM| 43542|19.687|            false|               Legal|
+-----------+------+----------+---------------+------+------+-----------------+--------------------+
only showing top 20 rows

In [164]:
ds.filter((ds['Salary']>=50000)& (ds['Salary']<=80000)).show()

+----------+------+----------+---------------+------+------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary| Bonus|Senior Management|                Team|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|  4.17|             true|                null|
|      Ruby|Female|      null|           null| 65476|10.012|             true|             Product|
|    Louise|Female|08-12-1980|        9:01 AM| 63241|15.132|             true|                null|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414| 1.256|            false|             Product|
|      Lois|  null| 4/22/1995|        7:18 PM| 64714| 4.934|             true|               Legal|
|  Benjamin|  Male| 1/26/2005|       10:06 PM| 79529| 7.008|             true|               Legal|
|     Linda|Female|10/19/1981|        8:49 PM| 57427| 9.557|             true|     Client Services|
| Christine|  null| 6/28/2015|        1:08 AM| 66582|11.308|             true|Business Development|
|   Marilyn|Female|12-07-1980|        3:16 AM| 73524| 5.207|             true|           Marketing|
|     Kathy|Female| 6/22/2005|        4:51 AM| 66820|   9.0|             true|     Client Services|
|     Henry|  Male| 6/26/1996|        1:44 AM| 64715|15.107|             true|     Human Resources|
|   Theresa|Female|04-11-2010|        7:18 AM| 72670| 1.481|             true|         Engineering|
|     Irene|Female|05-07-1997|        9:32 AM| 66851|11.279|            false|         Engineering|
|      null|Female|06-12-2007|        5:25 PM| 58112|19.414|             null|           Marketing|
|  Kathleen|  null|04-11-1990|        6:46 PM| 77834|18.771|            false|Business Development|
|     Steve|  Male|11-11-2009|       11:44 PM| 61310|12.428|             true|        Distribution|
|    Rachel|Female| 8/16/1999|        6:53 AM| 51178| 9.735|             true|             Finance|
|     Bobby|  Male|05-07-2007|       10:01 AM| 54043| 3.833|            false|             Product|
|    Thomas|  Male|06-04-1995|        2:24 PM| 62096|17.029|            false|           Marketing|
|     Donna|Female|11/27/1991|        1:59 PM| 64088| 6.155|             true|               Legal|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
only showing top 20 rows

In [166]:
ds.filter(~(ds["Salary"]<=100000)).show()

+----------+------+----------+---------------+------+------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary| Bonus|Senior Management|                Team|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|  null|             true|             Finance|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163|10.125|            false|               Legal|
|   Frances|Female|      null|        6:51 AM|139852| 7.524|             true|Business Development|
|     Julie|Female|10/26/1997|        3:19 PM|102508|12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807|17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831| 5.831|            false|               Sales|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737| 6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940|19.082|            false|     Client Services|
|   Matthew|  Male|09-05-1995|        2:12 AM|100612|13.645|            false|           Marketing|
|      null|  Male| 6/14/2012|        4:19 PM|125792| 5.042|             null|                null|
|     Scott|  null|07-11-1991|        6:58 PM|122367| 5.218|            false|               Legal|
|     Terry|  Male|11/27/1981|        6:30 PM|124008|13.464|             true|     Client Services|
| Christina|Female|08-06-2002|        1:19 PM|118780| 9.096|             true|         Engineering|
|      null|  Male| 8/21/1998|        2:27 PM|122340| 6.417|             null|                null|
|      Jean|Female|12/18/1993|        9:07 AM|119082| 16.18|            false|Business Development|
|    Rachel|Female| 2/16/2009|        8:47 PM|142032|12.599|            false|Business Development|
|      null|  Male| 1/29/2016|        2:33 AM|122173| 7.797|             null|     Client Services|
|   Beverly|Female|09-09-1998|        8:26 PM|121918|15.835|            false|               Legal|
|   Cynthia|Female|11/16/1988|        6:54 PM|145146| 7.482|             true|             Product|
|     Bruce|  Male|11/28/2009|       10:47 PM|114796| 6.796|            false|             Finance|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
only showing top 20 rows

In [177]:
ds.filter(ds['Salary']>=10000).drop().show()

+----------+------+----------+---------------+------+------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary| Bonus|Senior Management|                Team|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
|   Douglas|  Male|08-06-1993|       12:42 PM| 97308| 6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|  4.17|             true|                null|
|     Jerry|  Male|03-04-2005|        1:00 PM|138705|  null|             true|             Finance|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163|10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476|10.012|             true|             Product|
|    Angela|Female|      null|        6:29 AM| 95570|  null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852| 7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241|15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508|12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807|17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831| 5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426|14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414| 1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370| 7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737| 6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940|19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014| 1.894|            false|             Product|
|      Lois|  null| 4/22/1995|        7:18 PM| 64714| 4.934|             true|               Legal|
|   Matthew|  Male|09-05-1995|        2:12 AM|100612|13.645|            false|           Marketing|
|    Joshua|  null|03-08-2012|        1:58 AM| 90816|18.816|             true|     Client Services|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
only showing top 20 rows

In [8]:
df.show()

+------+---------+--------+--------+-----+----+
|itemid|itemname |itemcost|supplier|grade| qty|
+------+---------+--------+--------+-----+----+
|     8|    chalk|   65.76|       X|    A|   2|
|    12|   Pencil|    null|       Y|    B|   3|
|    13|      Pen|    43.0|       X|    A|   5|
|    15|   Duster|    54.0|       Y|    C|   1|
|    23|    Scale|    10.0|    null|    A|   2|
|    34|     null|    null|    null| null|null|
+------+---------+--------+--------+-----+----+

In [15]:
df1=df.filter(df['itemid']>12)

In [44]:
df1.show()

+------+---------+--------+--------+-----+---+
|itemid|itemname |itemcost|supplier|grade|qty|
+------+---------+--------+--------+-----+---+
|    13|      Pen|    43.0|       X|    A|  5|
|    15|   Duster|    54.0|       Y|    C|  1|
|    23|    Scale|    10.0|    null|    A|  2|
+------+---------+--------+--------+-----+---+

In [23]:
#where-appraoch 2 we can drop the rows
#df.show()
df.where(df['itemcost']<60).show()

+------+---------+--------+--------+-----+---+
|itemid|itemname |itemcost|supplier|grade|qty|
+------+---------+--------+--------+-----+---+
|    13|      Pen|    43.0|       X|    A|  5|
|    15|   Duster|    54.0|       Y|    C|  1|
|    23|    Scale|    10.0|    null|    A|  2|
+------+---------+--------+--------+-----+---+

In [31]:
df2=df.filter(df['supplier']!='Y')
df2.show()

+------+---------+--------+--------+-----+---+
|itemid|itemname |itemcost|supplier|grade|qty|
+------+---------+--------+--------+-----+---+
|     8|    chalk|   65.76|       X|    A|  2|
|    13|      Pen|    43.0|       X|    A|  5|
+------+---------+--------+--------+-----+---+

In [37]:
df.show()

+------+---------+--------+--------+-----+----+
|itemid|itemname |itemcost|supplier|grade| qty|
+------+---------+--------+--------+-----+----+
|     8|    chalk|   65.76|       X|    A|   2|
|    12|   Pencil|    null|       Y|    B|   3|
|    13|      Pen|    43.0|       X|    A|   5|
|    15|   Duster|    54.0|       Y|    C|   1|
|    23|    Scale|    10.0|    null|    A|   2|
|    34|     null|    null|    null| null|null|
+------+---------+--------+--------+-----+----+

In [40]:
df.where(df['supplier']!='Y').show()

+------+---------+--------+--------+-----+---+
|itemid|itemname |itemcost|supplier|grade|qty|
+------+---------+--------+--------+-----+---+
|     8|    chalk|   65.76|       X|    A|  2|
|    13|      Pen|    43.0|       X|    A|  5|
+------+---------+--------+--------+-----+---+

In [45]:
df.show()

+------+---------+--------+--------+-----+----+
|itemid|itemname |itemcost|supplier|grade| qty|
+------+---------+--------+--------+-----+----+
|     8|    chalk|   65.76|       X|    A|   2|
|    12|   Pencil|    null|       Y|    B|   3|
|    13|      Pen|    43.0|       X|    A|   5|
|    15|   Duster|    54.0|       Y|    C|   1|
|    23|    Scale|    10.0|    null|    A|   2|
|     8|    chalk|   80.78|    null| null|null|
+------+---------+--------+--------+-----+----+

In [47]:
df.dropDuplicates().show()

+------+---------+--------+--------+-----+---+
|itemid|itemname |itemcost|supplier|grade|qty|
+------+---------+--------+--------+-----+---+
|    23|    Scale|    10.0|    null|    A|  2|
|    12|   Pencil|    null|       Y|    B|  3|
|     8|    chalk|   65.76|       X|    A|  2|
|    13|      Pen|    43.0|       X|    A|  5|
|    15|   Duster|    54.0|       Y|    C|  1|
+------+---------+--------+--------+-----+---+

In [48]:
df.dropDuplicates(['supplier']).show()

+------+---------+--------+--------+-----+---+
|itemid|itemname |itemcost|supplier|grade|qty|
+------+---------+--------+--------+-----+---+
|    23|    Scale|    10.0|    null|    A|  2|
|     8|    chalk|   65.76|       X|    A|  2|
|    12|   Pencil|    null|       Y|    B|  3|
+------+---------+--------+--------+-----+---+

In [49]:
#with distinct clause(for droping dupplicate row)
df3=df.distinct()

In [51]:
df.select('supplier').show()

+--------+
|supplier|
+--------+
|       X|
|       Y|
|       X|
|       Y|
|    null|
|       X|
+--------+

In [54]:
df.select('supplier').distinct().show()

+--------+
|supplier|
+--------+
|    null|
|       Y|
|       X|
+--------+

In [55]:
#casting
df.printSchema()

root
 |-- itemid: integer (nullable = true)
 |-- itemname : string (nullable = true)
 |-- itemcost: double (nullable = true)
 |-- supplier: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- qty: integer (nullable = true)

In [56]:
df=spark.read.csv('d:\\item_details.csv',header=True)

In [57]:
df.printSchema()

root
 |-- itemid: string (nullable = true)
 |-- itemname : string (nullable = true)
 |-- itemcost: string (nullable = true)
 |-- supplier: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- qty: string (nullable = true)

In [58]:
from pyspark.sql.types import IntegerType,DateType

In [60]:
pdf1=df.withColumn('itemid',df['itemid'].cast('Integer'))

In [61]:
pdf1.printSchema()

root
 |-- itemid: integer (nullable = true)
 |-- itemname : string (nullable = true)
 |-- itemcost: string (nullable = true)
 |-- supplier: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- qty: string (nullable = true)

In [66]:
pd=df.withColumn('itemcost',df['itemcost'].cast('float')).withColumn('itemid',df['itemid'].cast('Integer'))

In [68]:
pd.printSchema()

root
 |-- itemid: integer (nullable = true)
 |-- itemname : string (nullable = true)
 |-- itemcost: float (nullable = true)
 |-- supplier: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- qty: string (nullable = true)

In [72]:
data=[(234,'12/31/2020'),(274,'11/30/2021')]
df=spark.createDataFrame(data,['id','JoiningDate'])

In [73]:
df.show()

+---+-----------+
| id|JoiningDate|
+---+-----------+
|234| 12/31/2020|
|274| 11/30/2021|
+---+-----------+

In [74]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- JoiningDate: string (nullable = true)

In [75]:
pd2=df.withColumn('JoiningDate',df['JoiningDate'].cast('Date'))

In [76]:
pd2.printSchema()

root
 |-- id: long (nullable = true)
 |-- JoiningDate: date (nullable = true)

In [77]:
df.show()

+---+-----------+
| id|JoiningDate|
+---+-----------+
|234| 12/31/2020|
|274| 11/30/2021|
+---+-----------+

In [78]:
pd2.show()

+---+-----------+
| id|JoiningDate|
+---+-----------+
|234|       null|
|274|       null|
+---+-----------+

In [82]:
pd1=pd2.withColumn('ProdessionDate',add_months('JoiningDate',2))

NameError: name 'add_months' is not defined

In [88]:
import Spark.sql.Context.implicits._

ModuleNotFoundError: No module named 'Spark'

In [89]:
import pyspark.sql.types.DateType

ModuleNotFoundError: No module named 'pyspark.sql.types.DateType'; 'pyspark.sql.types' is not a package

In [90]:
from pyspark.sql.functions import *

In [91]:
pd1=pd2.withColumn('ProdessionDate',add_months('JoiningDate',2))

In [93]:
pd1.show()

+---+-----------+--------------+
| id|JoiningDate|ProdessionDate|
+---+-----------+--------------+
|234|       null|          null|
|274|       null|          null|
+---+-----------+--------------+

In [94]:
pdf1.show()

+------+---------+--------+--------+-----+---+
|itemid|itemname |itemcost|supplier|grade|qty|
+------+---------+--------+--------+-----+---+
|     8|    chalk|   65.76|       X|    A|  2|
|    12|   Pencil|    null|       Y|    B|  3|
|    13|      Pen|      43|       X|    A|  5|
|    15|   Duster|      54|       Y|    C|  1|
|    23|    Scale|      10|    null|    A|  2|
|     8|    chalk|   65.76|       X|    A|  2|
+------+---------+--------+--------+-----+---+

In [96]:
pdf2=spark.read.option('header','true').csv('d:\\item.csv',inferSchema=True)

In [97]:
pdf2.show()

+------+--------+--------+--------+-----+---+
|itemid|itemname|itemcost|supplier|grade|qty|
+------+--------+--------+--------+-----+---+
|    15|   chalk|   65.76|       X|    A|  2|
|    11|  Pencil|   900.0|       Y|    B|  3|
|    13|     Pen|    43.0|       X|    A|  5|
|    15|  Duster|    54.0|       Y|    C|  1|
|    78|   Scale|   100.0|    null|    A|  2|
|    89|   chalk|   65.76|       X|    A|  2|
+------+--------+--------+--------+-----+---+

In [105]:
result=pdf1.union(pdf2)

In [106]:
result.show()

+------+---------+--------+--------+-----+---+
|itemid|itemname |itemcost|supplier|grade|qty|
+------+---------+--------+--------+-----+---+
|     8|    chalk|   65.76|       X|    A|  2|
|    12|   Pencil|    null|       Y|    B|  3|
|    13|      Pen|      43|       X|    A|  5|
|    15|   Duster|      54|       Y|    C|  1|
|    23|    Scale|      10|    null|    A|  2|
|     8|    chalk|   65.76|       X|    A|  2|
|    15|    chalk|   65.76|       X|    A|  2|
|    11|   Pencil|   900.0|       Y|    B|  3|
|    13|      Pen|    43.0|       X|    A|  5|
|    15|   Duster|    54.0|       Y|    C|  1|
|    78|    Scale|   100.0|    null|    A|  2|
|    89|    chalk|   65.76|       X|    A|  2|
+------+---------+--------+--------+-----+---+

In [129]:
res=df.unionByName(pdf2)#column names should be same
res.show()

+------+--------+--------+--------+-----+---+
|itemid|itemname|itemcost|supplier|grade|qty|
+------+--------+--------+--------+-----+---+
|     8|   chalk|   65.76|       X|    A|  2|
|    12|  Pencil|    null|       Y|    B|  3|
|    13|     Pen|    43.0|       X|    A|  5|
|    15|  Duster|    54.0|       Y|    C|  1|
|    23|   Scale|    10.0|    null|    A|  2|
|     8|   chalk|   65.76|       X|    A|  2|
|    15|   chalk|   65.76|       X|    A|  2|
|    11|  Pencil|   900.0|       Y|    B|  3|
|    13|     Pen|    43.0|       X|    A|  5|
|    15|  Duster|    54.0|       Y|    C|  1|
|    78|   Scale|   100.0|    null|    A|  2|
|    89|   chalk|   65.76|       X|    A|  2|
+------+--------+--------+--------+-----+---+

In [126]:
import functools
def joinFrames(frameList):
    res=functools.reduce(lambda f1,f2:f1.union(f2.select(f1.columns)),frameList)
    return res

In [127]:
r=joinFrames([df,pdf2])
r.show()

+------+--------+--------+--------+-----+---+
|itemid|itemname|itemcost|supplier|grade|qty|
+------+--------+--------+--------+-----+---+
|     8|   chalk|   65.76|       X|    A|  2|
|    12|  Pencil|    null|       Y|    B|  3|
|    13|     Pen|    43.0|       X|    A|  5|
|    15|  Duster|    54.0|       Y|    C|  1|
|    23|   Scale|    10.0|    null|    A|  2|
|     8|   chalk|   65.76|       X|    A|  2|
|    15|   chalk|   65.76|       X|    A|  2|
|    11|  Pencil|   900.0|       Y|    B|  3|
|    13|     Pen|    43.0|       X|    A|  5|
|    15|  Duster|    54.0|       Y|    C|  1|
|    78|   Scale|   100.0|    null|    A|  2|
|    89|   chalk|   65.76|       X|    A|  2|
+------+--------+--------+--------+-----+---+

In [128]:
df.show()

+------+--------+--------+--------+-----+---+
|itemid|itemname|itemcost|supplier|grade|qty|
+------+--------+--------+--------+-----+---+
|     8|   chalk|   65.76|       X|    A|  2|
|    12|  Pencil|    null|       Y|    B|  3|
|    13|     Pen|    43.0|       X|    A|  5|
|    15|  Duster|    54.0|       Y|    C|  1|
|    23|   Scale|    10.0|    null|    A|  2|
|     8|   chalk|   65.76|       X|    A|  2|
+------+--------+--------+--------+-----+---+

In [124]:
pdf2.show()

+------+--------+--------+--------+-----+---+
|itemid|itemname|itemcost|supplier|grade|qty|
+------+--------+--------+--------+-----+---+
|    15|   chalk|   65.76|       X|    A|  2|
|    11|  Pencil|   900.0|       Y|    B|  3|
|    13|     Pen|    43.0|       X|    A|  5|
|    15|  Duster|    54.0|       Y|    C|  1|
|    78|   Scale|   100.0|    null|    A|  2|
|    89|   chalk|   65.76|       X|    A|  2|
+------+--------+--------+--------+-----+---+

In [130]:
pdf=spark.read.csv('d://Books.csv',header=True)
pdf.show()

pdf2=spark.read.csv('d://Authors.csv',header=True)
pdf2.show()

+------+-------------+--------+---+
|BookId|     BookName|BookCost|Aid|
+------+-------------+--------+---+
|  1001|       I Dare|     300|120|
|  1002|  The Shivaji|    2000|122|
|  1003|      Panipat|    1000|122|
|  1004|  Asami Asami|    2000|123|
|  1005|   Sweet Home|     500|121|
|  1006|  India Today|    2250|122|
|  1007|Know Yourself|    1334|124|
+------+-------------+--------+---+

+---+-------------+
|Aid|   AuthorName|
+---+-------------+
|121|  Tarak Mehta|
|120|   Kiran Bedi|
|122|Vishwas Patil|
|123|P.L.Deshpande|
|134|     V.P.Kale|
|135| G.A.Kulkarni|
+---+-------------+

In [132]:
#joining 2 tables using join method
pdf3=pdf.join(pdf2,pdf.Aid==pdf2.Aid)
pdf3.show()

+------+-----------+--------+---+---+-------------+
|BookId|   BookName|BookCost|Aid|Aid|   AuthorName|
+------+-----------+--------+---+---+-------------+
|  1001|     I Dare|     300|120|120|   Kiran Bedi|
|  1002|The Shivaji|    2000|122|122|Vishwas Patil|
|  1003|    Panipat|    1000|122|122|Vishwas Patil|
|  1004|Asami Asami|    2000|123|123|P.L.Deshpande|
|  1005| Sweet Home|     500|121|121|  Tarak Mehta|
|  1006|India Today|    2250|122|122|Vishwas Patil|
+------+-----------+--------+---+---+-------------+

In [133]:
#joining 2 tables using join method
pdf3=pdf.join(pdf2,pdf.Aid==pdf2.Aid,'fullouter')
pdf3.show()

+------+-------------+--------+----+----+-------------+
|BookId|     BookName|BookCost| Aid| Aid|   AuthorName|
+------+-------------+--------+----+----+-------------+
|  1001|       I Dare|     300| 120| 120|   Kiran Bedi|
|  1005|   Sweet Home|     500| 121| 121|  Tarak Mehta|
|  1002|  The Shivaji|    2000| 122| 122|Vishwas Patil|
|  1003|      Panipat|    1000| 122| 122|Vishwas Patil|
|  1006|  India Today|    2250| 122| 122|Vishwas Patil|
|  1004|  Asami Asami|    2000| 123| 123|P.L.Deshpande|
|  1007|Know Yourself|    1334| 124|null|         null|
|  null|         null|    null|null| 134|     V.P.Kale|
|  null|         null|    null|null| 135| G.A.Kulkarni|
+------+-------------+--------+----+----+-------------+

In [134]:
pdf3=pdf.join(pdf2,pdf.Aid==pdf2.Aid,'left')
pdf3.show()

+------+-------------+--------+---+----+-------------+
|BookId|     BookName|BookCost|Aid| Aid|   AuthorName|
+------+-------------+--------+---+----+-------------+
|  1001|       I Dare|     300|120| 120|   Kiran Bedi|
|  1002|  The Shivaji|    2000|122| 122|Vishwas Patil|
|  1003|      Panipat|    1000|122| 122|Vishwas Patil|
|  1004|  Asami Asami|    2000|123| 123|P.L.Deshpande|
|  1005|   Sweet Home|     500|121| 121|  Tarak Mehta|
|  1006|  India Today|    2250|122| 122|Vishwas Patil|
|  1007|Know Yourself|    1334|124|null|         null|
+------+-------------+--------+---+----+-------------+

In [137]:
pdf3=pdf.join(pdf2,pdf.Aid==pdf2.Aid,'rightouter')
pdf3.show()

+------+-----------+--------+----+---+-------------+
|BookId|   BookName|BookCost| Aid|Aid|   AuthorName|
+------+-----------+--------+----+---+-------------+
|  1005| Sweet Home|     500| 121|121|  Tarak Mehta|
|  1001|     I Dare|     300| 120|120|   Kiran Bedi|
|  1006|India Today|    2250| 122|122|Vishwas Patil|
|  1003|    Panipat|    1000| 122|122|Vishwas Patil|
|  1002|The Shivaji|    2000| 122|122|Vishwas Patil|
|  1004|Asami Asami|    2000| 123|123|P.L.Deshpande|
|  null|       null|    null|null|134|     V.P.Kale|
|  null|       null|    null|null|135| G.A.Kulkarni|
+------+-----------+--------+----+---+-------------+

In [138]:
pdf3=pdf.join(pdf2,pdf.Aid==pdf2.Aid,'leftsemi')
pdf3.show()

+------+-----------+--------+---+
|BookId|   BookName|BookCost|Aid|
+------+-----------+--------+---+
|  1001|     I Dare|     300|120|
|  1002|The Shivaji|    2000|122|
|  1003|    Panipat|    1000|122|
|  1004|Asami Asami|    2000|123|
|  1005| Sweet Home|     500|121|
|  1006|India Today|    2250|122|
+------+-----------+--------+---+

In [142]:
pdf3=pdf2.join(pdf,pdf2.Aid==pdf.Aid,'leftsemi')
pdf3.show()

+---+-------------+
|Aid|   AuthorName|
+---+-------------+
|121|  Tarak Mehta|
|120|   Kiran Bedi|
|122|Vishwas Patil|
|123|P.L.Deshpande|
+---+-------------+

In [143]:
pdf3=pdf.join(pdf2,pdf.Aid==pdf2.Aid)
pdf3.show()

+------+-----------+--------+---+---+-------------+
|BookId|   BookName|BookCost|Aid|Aid|   AuthorName|
+------+-----------+--------+---+---+-------------+
|  1001|     I Dare|     300|120|120|   Kiran Bedi|
|  1002|The Shivaji|    2000|122|122|Vishwas Patil|
|  1003|    Panipat|    1000|122|122|Vishwas Patil|
|  1004|Asami Asami|    2000|123|123|P.L.Deshpande|
|  1005| Sweet Home|     500|121|121|  Tarak Mehta|
|  1006|India Today|    2250|122|122|Vishwas Patil|
+------+-----------+--------+---+---+-------------+

In [144]:
pdf3=pdf.join(pdf2,pdf.Aid==pdf2.Aid,'leftanti')
pdf3.show()

+------+-------------+--------+---+
|BookId|     BookName|BookCost|Aid|
+------+-------------+--------+---+
|  1007|Know Yourself|    1334|124|
+------+-------------+--------+---+

In [145]:
pdf3=pdf.join(pdf2,pdf.Aid==pdf2.Aid,'fullouter')
pdf3.show()
pdf3=pdf.join(pdf2,pdf.Aid==pdf2.Aid,'outer')
pdf3.show()

+------+-------------+--------+----+----+-------------+
|BookId|     BookName|BookCost| Aid| Aid|   AuthorName|
+------+-------------+--------+----+----+-------------+
|  1001|       I Dare|     300| 120| 120|   Kiran Bedi|
|  1005|   Sweet Home|     500| 121| 121|  Tarak Mehta|
|  1002|  The Shivaji|    2000| 122| 122|Vishwas Patil|
|  1003|      Panipat|    1000| 122| 122|Vishwas Patil|
|  1006|  India Today|    2250| 122| 122|Vishwas Patil|
|  1004|  Asami Asami|    2000| 123| 123|P.L.Deshpande|
|  1007|Know Yourself|    1334| 124|null|         null|
|  null|         null|    null|null| 134|     V.P.Kale|
|  null|         null|    null|null| 135| G.A.Kulkarni|
+------+-------------+--------+----+----+-------------+

+------+-------------+--------+----+----+-------------+
|BookId|     BookName|BookCost| Aid| Aid|   AuthorName|
+------+-------------+--------+----+----+-------------+
|  1001|       I Dare|     300| 120| 120|   Kiran Bedi|
|  1005|   Sweet Home|     500| 121| 121|  Tarak Mehta|
|  1002|  The Shivaji|    2000| 122| 122|Vishwas Patil|
|  1003|      Panipat|    1000| 122| 122|Vishwas Patil|
|  1006|  India Today|    2250| 122| 122|Vishwas Patil|
|  1004|  Asami Asami|    2000| 123| 123|P.L.Deshpande|
|  1007|Know Yourself|    1334| 124|null|         null|
|  null|         null|    null|null| 134|     V.P.Kale|
|  null|         null|    null|null| 135| G.A.Kulkarni|
+------+-------------+--------+----+----+-------------+

In [146]:
pdf3=pdf.join(pdf2,pdf.Aid==pdf2.Aid,'cross')
pdf3.show()

+------+-----------+--------+---+---+-------------+
|BookId|   BookName|BookCost|Aid|Aid|   AuthorName|
+------+-----------+--------+---+---+-------------+
|  1001|     I Dare|     300|120|120|   Kiran Bedi|
|  1002|The Shivaji|    2000|122|122|Vishwas Patil|
|  1003|    Panipat|    1000|122|122|Vishwas Patil|
|  1004|Asami Asami|    2000|123|123|P.L.Deshpande|
|  1005| Sweet Home|     500|121|121|  Tarak Mehta|
|  1006|India Today|    2250|122|122|Vishwas Patil|
+------+-----------+--------+---+---+-------------+